* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin:0;
}

a {
    text-decoration: none;
}

/* Header */
#main-header {
    background: #000000;
    color: #ffffff;
}

#main-header-top {
    padding: 0 50px;
}

#main-header a {
    color: #fff;
    display: flex;
}

#main-header img {
    margin-right: 10px;
}

/* Main Nav */
#main-nav {
    background: #73000A;
}

#main-nav ul {
    list-style-type: none;
}

#main-nav li {
    padding: 10px;
}

/* Content Area */
#main-content {
    padding: 20px;
}

.col4o5 {
    flex-basis: 60%;
}

.col5of5 {
    flex-basis: 20%;
}

.sc-article {
    margin: 10px 0;
}

.sc-article img {
    margin-right: 20px;
}

/* Footer */
#main-footer {
    background: #73000A;
    color: #ffffff;
}

#main-footer a {
    color: #fff;
    display: flex;
}

#main-footer ul {
    list-style-type: none;
}

#main-footer img {
    margin-right: 10px;
    margin-left: 10px;
}

.main-footer-left {
    margin: auto;
    justify-content: flex-start;
}

.main-footer-right {
    margin: auto;
    justify-content: flex-end;
}

#footer-cols {
    flex-direction: row;
    justify-content: center;
}

.row1, .row2, .row3 {
    margin-right: 10px;
}

.row1 {
    flex-basis: 50%;
}

.row2 {
    flex-basis: 30%;
}

.row3 {
    flex-basis: 20%;
}

.links {
    display: flex;
    flex-direction: row;
}

#site-info {
    background: #000000;
}

.site-info-links {
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

/* Banner */
#banner {
    display: flex;
    justify-content: center;
}

/* Font Styles */
h1 {
    font-size: 24px;
}

h2 {
    color: #73000A;
    font-size: 35px;
}

h3 {
    font-size: 20px;
}

/* Hamburger */
#hamburger div {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
  }

#hamburger {
    display: none;
}

.hidden {
    display: none;
}

@media screen and (min-width: 900px) {
    #main-nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    #main-content-junior {
        display: flex;
        justify-content: space-between; 
    }

    .sc-article {
        display: flex;
        justify-content: space-between;
    }

    #footer-cols {
        display: flex;
    }

    .col1, .col2 {
        display: flex;
    }

    #main-footer-top  {
        display: flex;
    }

    .site-info-links {
        display: flex;
    }
}

@media all and (max-width:900px){
    #hamburger {
        display: block;
    }
}

#navitems.hidden {
    display: none;
}